@{
	Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant;

<h4>Add a new restaurant</h4>

@using (Html.BeginForm())
{
	@Html.LabelFor(model => model.Name)
	<br>
	@Html.TextBoxFor(model => model.Name)
	<br>
	@Html.LabelFor(model => model.Rating)
	<br>
	@Html.TextBoxFor(model => model.Rating)
	<br>
	<br>
	<input type="submit" value="Add new restaurant" />
}
<br>
<p>@Html.ActionLink("View all restaurants", "Index")</p>
<p>@Html.ActionLink("Return to homepage", "Index", "Home")</p>
@* test *@